body{
    background-color: #31f5b0;
    
}
h1{
    font-family: monospace;
    color: #14a06f;
    font-size: 150px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 50px;
}

   
header{
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    margin-top: 150px;
    

}

.content {
    padding: 1rem;
    margin: 600px;
    margin-bottom: 5px;
    margin-top: 15px;
    align-items: center;
    background-color: #1fdb9a;
    border-radius: 50px;
    width: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content2 {
    padding: 1rem;
    margin: 600px;
    margin-bottom: 5px;
    align-items: center;
    background-color: #1fdb9a;
    border-radius: 50px;
    width: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content3{
    padding: 1rem;
    margin: 600px;
    margin-bottom: 5px;
    margin-top: 15px;
    align-items: center;
    background-color: #1fdb9a;
    border-radius: 50px;
    width: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content4{
    padding: 1rem;
    margin: 600px;
    margin-bottom: 5px;
    margin-top: 15px;
    align-items: center;
    background-color: #1fdb9a;
    border-radius: 50px;
    width: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content5{
    padding: 1rem;
    margin: 600px;
    margin-bottom: 5px;
    margin-top: 15px;
    align-items: center;
    background-color: #1fdb9a;
    border-radius: 50px;
    width: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content6{
    padding: 1rem;
    margin: 600px;
    margin-bottom: 5px;
    margin-top: 15px;
    align-items: center;
    background-color: #1fdb9a;
    border-radius: 50px;
    width: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content h1{
    margin: 0;
}

   
.pokemons li img{
    max-width: 100%;
    height: 150px;
    margin: 5px;
    padding-left: 200px;

    
}
.logo {
    margin-top: 15px;
    margin-left: 700px;

}

.content li{
    list-style: none;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    
}
.content2 li{
    list-style: none;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    
}
.content3 li{
    list-style: none;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    
}
.content4 li{
    list-style: none;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    
}
.content5 li{
    list-style: none;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    
}
.content6 li{
    list-style: none;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    
}



.pokemon h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    color: #0b4e36;
}
.pokemon2 h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    color: #0b4e36;
}
.pokemon3 h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    color: #0b4e36;
}
.pokemon4 h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    color: #0b4e36;
}

.pokemon5 h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    color: #0b4e36;
}

.pokemon6 h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    color: #0b4e36;
}
.pokemon h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 25px;
    color: #0b4e36;
   float: right;

}

.pokemon2 h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 25px;
    color: #0b4e36;
   float: right;

}
.pokemon3 h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 25px;
    color: #0b4e36;
   float: right;

}
.pokemon4 h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 25px;
    color: #0b4e36;
   float: right;

}

.pokemon5 h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 25px;
    color: #0b4e36;
   float: right;

}

.pokemon6 h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 25px;
    color: #0b4e36;
   float: right;

}
.pokemon p{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #0b4e36;

}
.pokemon2 p{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #0b4e36;

}
.pokemon3 p{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #0b4e36;

}

.pokemon4 p{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #0b4e36;

}
.pokemon5 p{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #0b4e36;

}
.pokemon6 p{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #0b4e36;

}
.content img{
    margin-left: 50px;
}



